// Big Screen
@media screen and (min-width:600px) {
    nav {
        .nav-right {
            .nav-icon {
                i {
                    display: none;
                }
            }
        }
    }

    .comment {
        margin-top: 10rem;

        .person {
            margin: 2rem 0 0 0;
        }
    }

    .help-us {
        p {
            margin-left: 7rem;
        }
    }
}




// Small Screen
@media screen and (max-width: 601px) {
    header {
        border-bottom: 1px solid #ffffff;
    }

    nav {
        margin: 0;

        .nav-left {
            h1 {
                display: none;
            }
        }

        .nav-right {
            a {
                display: none;
            }
        }
    }

    .main-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .main-top-left {
            width: 300px;
            text-align: center;
            margin: 0 0 0 1rem;

            h1 {
                font-size: 30px;
                width: 280px;
                font-weight: 700;
                line-height: 40px;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                width: 280px;
            }

            .main-btn {
                text-align: center;
                width: 280px;
            }
        }

        .main-top-right {
            text-align: left;
            width: 400px;

            img {
                width: 325px;
                height: 235px;
            }
        }
    }

    .info-top {
        margin: 5rem 0 4rem 0;
    }

    .info-bottom {

        .card {
            flex-wrap: wrap;
            margin-right: 2rem;

            .cards {
                padding: 1rem 7rem;
            }
        }
    }

    .comment {
        flex-wrap: wrap;
        margin-top: 5rem;
        text-align: center;

        .comment-right {
            width: 450px;
            margin-top: 15rem;

            .persons {
                margin: 2rem 0;

                img {
                    width: auto;
                    height: auto;
                }

            }
        }
    }

    .comment2 {
        flex-wrap: wrap;
        margin-top: 5rem;
        text-align: center;

        .top-box {
            margin: 2rem 0 0 0;
            width: 310px;
            height: 250px;
            text-align: center;

            p {
                white-space: wrap;
                max-width: 250px;
                margin-top: 10px;
            }
        }

        .bottom-box {
            flex-wrap: wrap;

            .bottom-box1 {
                margin-bottom: 1rem;
            }
        }

    }

    .help-card {
        display: flex;
        flex-wrap: wrap;

        .help-cards {
            margin: 1rem 0 0 0;
        }
    }

    .bottom-main {
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        .bottom-main-right {
            margin: 2rem 0;

            img {
                width: 380px;
                height: auto;
            }
        }
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        h2{
            margin: 0 0 2rem 5rem;
        }

        .ft-right {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            margin-left: 2rem;
        }
    }
}